.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  max-width: 40rem;
  background-color: var(--gray-800);
}

.error {
  font-family: sans-serif;
  color: var(--error);
  margin-bottom: 1.2rem;
}

.remember {
  margin: 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: var(--text-default);
  white-space: nowrap;
}

.remember input {
  margin: 0;
}
