.noteContainer {
    padding: 1rem;
    margin: 2rem 0;
    border: 1rem solid var(--gray-200);
    border-radius: 5rem;
}

.noteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noteTitle {
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-default);
    padding-bottom: 1rem;
}

.noteContent {
    color: var(--text-default);
    padding-bottom: 0.8rem;

}

.noteDate {
    color: var(--gray-500);
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
}

.deleteButton {
    background-color: var(--error);
    color: var(--text-default);
    border: none;
    height: 3.2rem;
    width: 4.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    filter: brightness(0.9);
}
